<?xml version="1.0"?>

<model>
  <name>my_custom_ground_plane_ign</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Andrea Patrizi</name>
    <email>andrea.patrizi1b6e6@gmail.com</email>
  </author>
 
  <description>
     A custom ground plane (to be able to modify ground contact properties)
  </description>
</model>
