<?xml version="1.0"?>

<window>
    <position_x>-1</position_x>
    <position_y>-1</position_y>
    <state></state>
    <width>1200</width>
    <height>1000</height>
    <style material_theme="Dark" material_primary="#ffab91" material_accent="#81d4fa" toolbar_color_light="" toolbar_text_color_light="" toolbar_color_dark="" toolbar_text_color_dark="" plugin_toolbar_color_light="" plugin_toolbar_text_color_light="" plugin_toolbar_color_dark="" plugin_toolbar_text_color_dark=""/>
    <menus>
        <drawer visible="true" default="true"/>
        <plugins visible="true" from_paths="true"/>
    </menus>
</window>